<%- include('header'); -%>


<div class="container-fluid">
    


    <div class="row">
        <div class="card">
            <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="sneaker">
                    <div class="circle"></div>
                    <img src="/image/carte-grise.png" alt="image d'une carte grise">
                </div>
                <div class="info">
                    <h1 class="title">Carte Grise</h1>
                    <h3>Le certificat d’immatriculation permet la circulation et l'identification du véhicule pendant toute la durée de vie du véhicule.</h3>
                    <div class="sizes">
                        <button><a href="/cession">Cession</a></button>
                        <button>Changement</button>
                        <button>duplicata</button>
                        <button><a href="/tarifs">tarifs</a></button>
                    </div>
                    <div class="purchase">
                        <button>Pousuivre</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container">
    <div class="row">
        

    <p>L'Etat se modernise pourquoi pas vous !
        Désormais il vous est permis d'effectuer vos demarche de demande de carte grise par Internet.
        En quelques clics avec Immat.com obtenez votre nouveau certificat d’immatriculation sans aucun déplacement en
        Préfecture.</p>
    <h5>Pourquoi faire ses démarches en ligne</h5>
    <p>
        Fini les déplacements en préfecture, fini les guichets à attendre son numéro, 5 minutes sur votre ordi ou votre
        smartphone la procédure est la même.
        frais d’essence 0€, frais de parking 0€, prendre une demi-journée de congés ? de l'histoire ancienne.
        Grâce au système de demande de carte grise en ligne, vous commandez depuis chez vous votre carte grise avec ou
        sans plaques d'immatriculation 7 jours/7 et 24 heures/24 en quelques clics.
        Avec ou sans plaques d'immatriculation 7 jours/7 et 24 heures/24 en quelques clics, Commandez votre carte crise.
    </p>
   
    </div>
</div>
</div>


   



<%- include("footer") -%>