<%- include('header'); -%>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6">
            <h1>Déclaration de cession</h1>

            <h5>Vous avez vendu votre véhicule ? Enregistrez la cession de vehicule en ligne</h5>

            <p>Vous devez déclarer la cession auprès des services administratifs, cela vous protège entre autre des
                contraventions si le nouveau titulaire n'a pas fait les demarches administratifs. Cette démarche ne
                s'effectue qu'en ligne</p>

            <div class="col-sm-12 col-md-12 col-xl-12">
                <div class="form-wrapper">
                    <form action="" method="post">
                        <label for="">immatriculation</label>
                        <input type="text" placeholder="AA-123-AA">

                        <label for="">Date et heure de la vente</label>
                        <input type="text" placeholder="JJ/MM/AAAA">
                        <input type="text" placeholder="HH:MM">
                    </form>
                </div>
            </div>

        </div>
        <div class="row">


        </div>
        <div class="col-sm-12 col-md-12 col-xl-12">
            <h5>Cession d'un véhicule en ligne</h5>
            <p> Enregistrez la vente </p>
            <p> Recevez l'accusé d'enregistrement</p>
            <p>L'acheteur est informé</p>
            <p>Votre responsabilité est déchargée</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12">
                <p>Pour obtenir votre certificat d'immatriculation envoyer-nous les documents suivant</p>
                <form action="" method="post">
                    <div class="form-group">
                        <label for="fichier">Carte grise barré <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>

                        <label for="fichier">Certificat de cession <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>

                        <label for="fichier">Controle technique moins de 6 mois <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>

                        <label for="fichier">Assurance <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>

                        <label for="fichier">Pièce d'identité <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>

                        <label for="fichier">Permis <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>

                        <label for="fichier">Justificatif de domicile <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>

                        <label for="fichier">Procuration <i class="fas fa-file-pdf"></i></label>
                        <input type="file" class="form-control-file" id="fichier"><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('footer'); -%>