<%- include('header'); -%>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
          <h1>vous avez acheté un véhicule d'occasion ?</h1>
          <img src="/image/achat-vehicules.jpg" alt="Image d'une clé de voiture">
            <p>Après l'acquisition d'un véhicule d'occasion, le délais est d'un mois pour l'immatriculer et obtenir le certificat d'immatriculation. Après ce délai, vous risquez une amende pouvant aller jusqu'à 750 € (amende forfaitaire de 135 €).</p>
        </div>
    </div>
</div>



<%- include('footer'); -%>
