<%- include('header'); %>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <h1>Changement de nom</h1>
            <img src="/image/demarcheAdmin.jpg" alt="phot d'un clavier">
            <p>En cas de changement de nom il est nécessaire de procédé à une modification du certificat
                d'immatriculation</p>
        </div>
    </div>
</div>


<%- include('footer'); %>