<%- include('header'); %>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <h1>Changement d'adresse</h1>
            <img src="/image/changement.jpg" alt="papier administratif">
            <p>En cas de changement d'adresse le délais est d'un mois pour procédé à la modification de votre carte
                grise</p>
            <p>les demarches s'effectue en ligne</p>
        </div>
    </div>
</div>


<%- include('footer'); %>