<%- include('header'); %>

<h1> <a href="/dahsboard"><%=currentUser.username%></a> </h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, commodi fuga illo explicabo similique blanditiis labore, voluptatem corporis minima mollitia voluptatibus dignissimos recusandae quis magnam voluptatum perspiciatis quasi et non?
            Facere saepe modi deleniti. Ad repellat autem provident officia pariatur delectus rerum deserunt similique sit repudiandae iste obcaecati eaque corrupti, nihil atque ut corporis? Reiciendis at recusandae iure similique fugiat!
            Enim blanditiis, repellendus iste veniam ducimus provident ea ut error natus soluta fugiat obcaecati nobis voluptates ad unde accusamus sequi dignissimos modi corporis. Hic fugit maiores accusamus! Suscipit, facilis magnam?</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, commodi fuga illo explicabo similique blanditiis labore, voluptatem corporis minima mollitia voluptatibus dignissimos recusandae quis magnam voluptatum perspiciatis quasi et non?
            Facere saepe modi deleniti. Ad repellat autem provident officia pariatur delectus rerum deserunt similique sit repudiandae iste obcaecati eaque corrupti, nihil atque ut corporis? Reiciendis at recusandae iure similique fugiat!
            Enim blanditiis, repellendus iste veniam ducimus provident ea ut error natus soluta fugiat obcaecati nobis voluptates ad unde accusamus sequi dignissimos modi corporis. Hic fugit maiores accusamus! Suscipit, facilis magnam?</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, commodi fuga illo explicabo similique blanditiis labore, voluptatem corporis minima mollitia voluptatibus dignissimos recusandae quis magnam voluptatum perspiciatis quasi et non?
            Facere saepe modi deleniti. Ad repellat autem provident officia pariatur delectus rerum deserunt similique sit repudiandae iste obcaecati eaque corrupti, nihil atque ut corporis? Reiciendis at recusandae iure similique fugiat!
            Enim blanditiis, repellendus iste veniam ducimus provident ea ut error natus soluta fugiat obcaecati nobis voluptates ad unde accusamus sequi dignissimos modi corporis. Hic fugit maiores accusamus! Suscipit, facilis magnam?</p>
        </div>
    </div>
</div>


<%- include("footer"); %> 