<%- include('header'); %>

<div class="container">
    <div class="row">
        <div class="">
            <h1>Demande de duplicata</h1>
            <p>Obtenez un duplicata de votre certificat d'immatriculation en cas de perte, de vol ou de dégradation de
                celui-ci</p>

        </div>
    </div>
</div>

<div class="container">
        <div class="row">
            <form action="" method="post">
                <div class="form-group">
                    <label for="fichier">la déclaration originale de perte ou de vol établie par le service de police <i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>

                    <label for="fichier">la demande de certificat d'immatriculation<i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>

                    <label for="fichier">Copie recto verso de la carte en cas de carte grise barrée ou abîmé
                        <i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>

                    <label for="fichier">Copie du contrôle technique en cours de validité
                        <i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>

                    <label for="fichier">Copie pièce d'identité
                        <i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>

                    <label for="fichier">Copie permis de conduire
                        <i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>

                    <label for="fichier">Assurance
                        <i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>

                    <label for="fichier">Justificatif de domicile
                        <i class="fas fa-file-pdf"></i></label>
                    <input type="file" class="form-control-file" id="fichier"><br>
                </div>
            </form>
        </div>
    </div>


<%- include('footer'); %>