<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="app.js"></script>

<!-- Footer -->
<footer class="page-footer font-small position-sticky">

  <!-- Footer Links -->
  <div class="container">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-sm-12 col-md-4 col-xl-4">
        <a class="logo" href="#" style="font-size:100px;">eMat</a>
      </div>


      <div class="col sm-12 col-md-4 col-xl-4 text-left">
        <!-- Links -->
        <h5 class="text-uppercase">Liens Utiles</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.service-public.fr!">Service-public.fr</a>
          </li>
          <li>
            <a href="https://www.legifrance.gouv.fr">Legifrance.fr</a>
          </li>
          <li>
            <a href="https://www.gouvernement.fr">Gouvernement.fr</a>
          </li>
          <li>
            <a href="#!">Lien</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col sm-12 col-md-4 col-xl-4 text-left">
        <!-- Links -->
        <h5 class="text-uppercase"> Contactez-nous</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/contact"><span style="color:orange;">@</span>  immatriculation006@gmail.com</a>
          </li>
          <li>
            <i class="fas fa-address-card"></i>
            <a href="#!">4b résidence Louise Michel 59000 Lille</a>
          </li>
          <li>
            <i class="fas fa-mobile"></i>
            <a href="#!">0620341211</a>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <a href="#!">Lien</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer Links -->

  <!-- social -->
  <div class="social-icons text-center py-0">
    <ul>
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
  <!-- copyright -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-secondary">Copyright © 2020
    <a href="https://mattCornic.com/">- Matt Cornic Dev- </a> All right reserved
  </div>
  <!-- Copyright -->

</footer>


<!-- attached social bar -->
<div class="d-none d-md-block a-social-b">
  <ul>
    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
  </ul>
</div>





</body>

</html>