<%- include('header'); %>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <h1>Héritage</h1>
            <h4>Vous héritez d'un véhicule ?</h4>
            <p>En cas d'héritage d'un véhicule il est nécessaire de mettre le certificat d'immatriculation à votre nom
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="/heritage" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fichier" name="carteGriseBarre">Carte grise barré <i class="fas fa-file-pdf"></i></label>
                
                <input type="file" class="form-control-file" name="filename"><br>
                <input type="submit" class="form-control-file" name="upload"><br>
                
                

                <label for="fichier">Certificat de cession <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" name="filename"><br>
                <input type="submit" class="form-control-file" name="upload"><br>

                <label for="fichier">Certificat de cession <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" name="filename"><br>
                <input type="submit" class="form-control-file" name="upload"><br>

                <label for="fichier">Controle technique moins de 6 mois <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" id="filename"><br>

                <label for="fichier">Assurance <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" id="filename"><br>

                <label for="fichier">Pièce d'identité <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" id="filename"><br>

                <label for="fichier">Permis <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" id="filename"><br>

                <label for="fichier">Justificatif de domicile <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" id="filename"><br>

                <label for="fichier">Procuration <i class="fas fa-file-pdf"></i></label>
                <input type="file" class="form-control-file" id="filename"><br>

                <input type="submit" class="form-control-file" name="upload"><br>

                <button type="submit" name="upload" value="upload">Envoie</button>
                <!-- <a name="envoie" class="btn btn-success" href="#" role="button">Envoyer</a> -->
            </div>
        </form>
    </div>
</div>


<%- include('footer'); %>