<%- include('header'); -%>

<h1>INFORMATION</h1>
<div class="parallax-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-xl-12">
                <p>A savoir : Il n'est désormais plus possible de demander une carte grise auprès de la préfecture ou de
                    la
                    sous-préfecture. La démarche s’effectue désormais en ligne.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-12">
                Qui peut demander un certificat d'immatriculation ?
                Tout propriétaire d’un véhicule à moteur, d’une remorque (dont le poids total autorisé en charge est
                supérieur à 500 kilogrammes) ou d’une semi-remorque, qui souhaite le mettre en circulation pour la
                première fois, doit établir un certificat d’immatriculation (ex carte grise).

                En cas de multipropriété, la carte grise (certificat d’immatriculation) peut être établie au nom de
                plusieurs personnes physiques et/ou morales sur production de justificatifs adéquats.
                En cas de co-titulaires, les informations relatives à chacun sont inscrites dans le SIV. Mais sur le
                certificat d’immatriculation (ex carte grise) seul le nom et les coordonnées du titulaire principal
                apparaissent dans la rubrique C.1. La rubrique C.4.1 indique le nombre de personnes titulaires en cas de
                multi-propriété ainsi que le nom du premier co-titulaire.<br><br>
            </div>

            <div class="col-sm-12 col-md-12 col-xl-12">
                Nouveau système d’immatriculation : les conséquences sur la réglementation des cartes grises
Depuis le 15 avril 2019, la France a adopté un nouveau système pour immatriculer les véhicules : le SIV (Système d'Immatriculation des Véhicules). Visant à renforcer la sécurité routière et à simplifier la gestion des véhicules, ce système bouleverse la réglementation des certificats d'immatriculation. L’application du SIV a d’ailleurs de nombreuses conséquences sur les véhicules et les démarches pour obtenir une carte grise.
Une immatriculation à vie : désormais, tout nouveau véhicule conserve le même numéro d'immatriculation, et ce, de sa date de mise en circulation à sa destruction. Un changement de propriétaire sur la carte grise ou un déménagement dans un autre département ne modifie donc plus l’immatriculation.
Un nouveau format d'immatriculation : le précédent système d'immatriculation, le FNI, suivait une forme d'immatriculation spécifique (123-AB-01). Le nouveau système d'immatriculation adopte un nouveau format, à savoir AB-123-CD.
Le choix de son numéro de département : les 3 derniers chiffres de l'immatriculation ne correspondent plus au numéro du département. S'il le souhaite, le propriétaire du véhicule peut néanmoins personnaliser sa plaque d'immatriculation en ajoutant le numéro de département de son choix (y compris s'il vit ailleurs). Pouvant être réalisé chez un professionnel, ce changement n'implique aucune démarche administrative.
La même carte grise en cas de déménagement : avec le SIV, il n’est plus nécessaire de faire une nouvelle carte grise en cas de changement d’adresse. Pour vos 3 premiers déménagements, vous devez simplement déclarer le changement de situation et coller une vignette sur le certificat d’immatriculation pour couvrir votre précédente adresse.

            </div>
            <div class="col-sm-12 col-md-12 col-xl-12">
               
            </div>
        </div>
    </div>
</div>

<div class="regular-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-xl-12">
                <p>A savoir : Il n'est désormais plus possible de demander une carte grise auprès de la préfecture ou de
                    la
                    sous-préfecture. La démarche s’effectue désormais en ligne.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-12">
                Qui peut demander un certificat d'immatriculation ?
                Tout propriétaire d’un véhicule à moteur, d’une remorque (dont le poids total autorisé en charge est
                supérieur à 500 kilogrammes) ou d’une semi-remorque, qui souhaite le mettre en circulation pour la
                première fois, doit établir un certificat d’immatriculation (ex carte grise).

                En cas de multipropriété, la carte grise (certificat d’immatriculation) peut être établie au nom de
                plusieurs personnes physiques et/ou morales sur production de justificatifs adéquats.
                En cas de co-titulaires, les informations relatives à chacun sont inscrites dans le SIV. Mais sur le
                certificat d’immatriculation (ex carte grise) seul le nom et les coordonnées du titulaire principal
                apparaissent dans la rubrique C.1. La rubrique C.4.1 indique le nombre de personnes titulaires en cas de
                multi-propriété ainsi que le nom du premier co-titulaire.<br><br>
            </div>

            <div class="col-sm-12 col-md-12 col-xl-12">
               
            
            </div>
            <div class="col-sm-12 col-md-12 col-xl-12">
               
            </div>
        </div>
    </div>
</div>



<%- include('footer'); -%>