<%- include('header'); -%>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <h1>Calculer la tarification de votre certificat d'immatriculation<a href="https://www.service-public.fr/simulateur/calcul/cout-certificat-immatriculation">Calculer</a>
            </h1>
            <p>Le montant de la carte grise se compose de différentes taxes, comme la taxe régionale ou le malus
                écologique, dont l’application et le calcul peuvent se révéler difficiles.
                Le simulateur de calcul permet donc de réaliser une estimation du coût de la carte grise d’un véhicule
                (voiture, 2 roues, camionnette, camion, etc.) à l’occasion de l’achat d’un véhicule neuf ou d’occasion
                mais aussi pour plus d’une dizaine d’autres démarches telles que, par exemple :
            </p>
        </div>
    </div>
</div>


<div class="container">
    
</div>


<%- include('footer'); -%>